button.black-button {
    background-color: #000000;
    padding: 10px 1.8em;
    border-radius: 8px;
    transition-duration: 0.4s;
    & a.black-button-text {
        color: white;
        font-family: Roboto, sans-serif;
        font-weight: 500;
    }
}

button.black-button:hover {
    background-color: rgba(0, 0, 0, 0.75);
    transition-duration: 0.4s;
    cursor: pointer;
    & a.black-button-text {

    }
}