#main-page {
    width: 100%;
    position: relative;
    overflow-x: hidden;
}

div#main-img {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 150px;
    max-height: 300px;
    margin-top: 100px;
    border-radius: 25%;
    z-index: 1;

    & h1 {
        display: block;
        position: relative;
        color: #495867;
        font-family: 'HangamePokerSemiBold', sans-serif;
        padding: 1.2em 0;
        text-align: center;
        font-size: 40px;
        margin: 0;
        opacity: 0;
        animation: fadeIn 0.4s ease-in forwards;
        animation-delay: 0.5s;
        min-width: 900px;
    }

    & h3 {
        display: block;
        position: relative;
        color: #ff3b2c;
        font-family: 'HangamePokerSemiBold', sans-serif;
        padding: 1em 0;
        text-align: center;
        font-size: 22px;
        margin: 0;
        opacity: 0;
        animation: fadeIn 0.4s ease-in forwards;
        animation-delay: 0.5s;
    }
}

div#main-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    align-content: center;
    align-self: center;
    align-items: center;
    height: 100%;
    background-color: #F7F7FF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    transform-origin: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

div#main-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

section.main-page-section {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-in-out;
    padding: 0.5em 0 0.5em 0;
}

section#aboutMe {
    padding: 2.5em 0 1em 0;
    background-color: white;
    margin: 1em auto 5em auto;
    width: 100%;
    height: 680px;
    min-height: 680px;

    & h1 {
        opacity: 0;
        animation: fadeIn 0.2s ease-in forwards;
        animation-delay: 0.5s;
    }
}

section#aboutMe > .about-me-wrapper {
    display: block;
    width: 80%;
    height: 100%;
    border: #859eb1 solid 1px;
    min-width: 1500px;
    border-radius: 28px;
    margin: 0 auto;
    background-color: #ffffff;
}

h1.centered-custom-title {
    font-size: 1.8rem;
    color: #577399;
    background-color: #ffffff;
    padding: 10px 5em;
    position: absolute;
    top: -15px;
    left: 50%;
    min-width: 120px;
    transform: translateX(-50%);
    z-index: 2;
    font-weight: bold;
    font-family: Tenada, sans-serif;
}

div.about-me-content {
    display: flex;
    text-align: center;
    min-height: 300px;
    width: 80%;
    min-width: 1300px;
    margin: 5em auto 2em auto;
}

div.about-me-content > img {
    height: 50%;
    width: 50%;
    max-width: 350px;
    max-height: 350px;
    box-shadow: -2px 4px 4px #476a8e;
    border: 1px solid #007eff;
    border-radius: 28px;
    object-fit: contain;
}

div.about-me-text-area {
    display: block;
    width: 95%;
    margin-left: 5%;
    min-width: 700px;
}

div.about-me-text-area > p {
    display: flex;
    font-family: 'HangamePokerRegular', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    margin: 14px 0;
    color: #495867;
    line-height: 2em;
    flex-wrap: initial;
    align-items: baseline;
    word-break: normal;
    white-space: normal;
}

div.about-me-text-area > p > span {
    flex: 0 0 auto;
    color: #FE5F55;
    font-family: 'HangamePokerRegular', 'Batang', sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin-right: 8px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

section#project {
    height: auto;
    background-color: #F7F7FF;
    min-width: 800px;
    padding: 2.5em 0 1em 0;
}

section#aboutMe h1.centered-title {
    position: relative;
    text-align: center;
    font-size: 2rem;
    color: #577399;
    width: 100%;
    min-width: 250px;
    z-index: 1;
    margin: 0 auto;
    font-weight: bold;
    font-family: Tenada, sans-serif;
}

section#aboutMe h1.centered-title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(-25px - 5%);
    transform: scaleX(0.8);
    transform-origin: left;
    height: 2px;
    width: calc(41% + 30px);
    background-color: #495867;
    transition: transform 0.8s ease;
}

section#aboutMe h1.centered-title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: calc(-25px - 5%);
    transform: scaleX(0.8);
    transform-origin: right;
    height: 2px;
    width: calc(41% + 30px);
    background-color: #495867;
    transition: transform 0.8s ease;
}

section#project h1.centered-title {
    position: relative;
    text-align: center;
    font-size: 2rem;
    color: #577399;
    width: 100%;
    min-width: 250px;
    z-index: 1;
    margin: 0 auto;
    font-weight: bold;
    font-family: Tenada, sans-serif;
}

/* Initial state for the left line */
section#project h1.centered-title::before {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(-25px - 5%);
    transform: scaleX(0.8);
    transform-origin: left;
    height: 2px;
    width: calc(41% + 30px);
    background-color: #577399;
    transition: transform 0.8s ease;
}

/* Initial state for the right line */
section#project h1.centered-title::after {
    content: "";
    position: absolute;
    top: 50%;
    right: calc(-25px - 5%);
    transform: scaleX(0.8);
    transform-origin: right;
    height: 2px;
    width: calc(41% + 30px);
    background-color: #577399;
    transition: transform 0.8s ease;
}

div.project-content {
    width: 70%;
    height: 90%;
    margin: 2em auto;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1em;
    flex-direction: column;
}

section#experience {
    margin: 2em auto;
}

section#skills {
    background-color: #F7F7FF;
}

div.skill-panel {
    display: block;
    position: relative;
    width: 100%;
}

div.skill-panel > h2 {
    display: flex;
    width: 50%;
    font-family: 'HangamePokerRegular', 'Batang', cursive;
    color: #2b323c;
}

div.skill-card-list {
    display: block;
    position: relative;
    width: 50%;
    margin: 1em auto;
}

section#education {
    display: block;
    min-height: 1000px;
    width: 100%;
}

section#education > h1.left-title {
    text-align: left;
}

section#education div.education-certificate-panel {
    display: block;
    width: 100%;
}

section#education div.certificate-card-list,
section#education div.education-card-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

section#education div.education-certificate-panel-card-list > h3,
section#education div.education-certificate-panel > h3{
    display: block;
    width: 100%;
    color: #2b323c;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-family: HangamePokerRegular, Batang, sans-serif;
    margin: 1.5em auto;
}

section#education div.certificate-card,
section#education div.education-card {
    display: block;
    width: 93%;
    margin: 1.5em auto;
    background-color: rgba(239, 239, 239, 0.74);
    border-radius: 22px;
}

section#education div.first-row {
    display: flex;
    width: 100%;
    height: 40px;
    padding-top: 12px;
    margin: 0;

    & h4 {
        display: block;
        text-align: left;
        width: 50%;
        min-width: 50px;
        align-self: center;
        padding-left: 2em;
        font-family: 'HangamePokerRegular', cursive;
        font-size: 20px;
        font-weight: 700;
        color: #6d7781;
        margin: 0;
    }

    & h3 {
        display: block;
        text-align: right;
        width: 50%;
        min-width: 250px;
        align-self: center;
        padding-right: 2em;
        font-family: 'HangamePokerRegular', cursive;
        font-size: 20px;
        font-weight: bold;
        color: #FE5F55;
        margin: 0;
    }
}

section#education div.education-card-score {
    display: flex;
    height: 140px;
    align-items: center;
    align-content: center;
    align-self: center;

    & img {
        display: block;
        height: 100px;
        width: 100px;
        margin-left: 2em;
        border-radius: 25px;
        object-fit: scale-down;
        border: #2b323c solid 2px;
    }

    & .second-row-right-info {
        display: block;
        text-align: right;
        margin-right: 2.5em;
        width: calc(100% - 100px);
        height: 100%;

        & h4 {
            color: #476a8e;
            margin: 5px 0 5px 0;
            font-family: HangamePokerRegular, Batang, sans-serif;
            font-weight: 500;
        }
    }
}

div.score-level-container {
    display: block;
    & p {
        margin: 0;
        color: #007eff;
        font-family: 'Hakgyoansim', cursive;
        font-weight: 700;
    }
}

p.description-list {
    font-size: 13px;
    font-family: 'HangamePokerRegular', 'Batang', cursive;
    text-align: left;
    padding-left: 2em;
}

section#education div.second-row {
    display: flex;
    width: 100%;
}

section#ability {
    min-height: 1000px;
    background-color: #F7F7FF;
}

section#contact {
    min-height: 1000px;
    background-color: #F7F7FF;
}

section.visible {
    opacity: 1;
    transform:  translateY(0);
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 300px;
    position: relative;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
}

h1.left-title {
    position: relative;
    text-align: left;
    font-size: 2rem;
    color: #577399;
    width: 100%;
    min-width: 250px;
    z-index: 1;
    margin: 1em 0 0 1em;
    font-weight: bold;
    font-family: Tenada, sans-serif;
}

h1.left-title::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    height: 2px;
    width: calc(90%);
    background-color: #577399;
    transition: transform 2s ease;
}

.visible h1.left-title::after {
    transform: scaleX(1); /* Fully expanded */
}