#main-page {
    display: block;
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 100%;
}

#main-page::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
    filter: blur(0px);
    pointer-events: none;
    z-index: 8;
}

section.hero-section {
    height: 100vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Slight upward movement */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Reset movement */
    }
}

.fade-in {
    opacity: 0; /* Start hidden */
    transform: translateY(20px); /* Start shifted slightly down */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
}

/* When the section is visible, fully fade in */
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}